In [39]:
import pandas as pd
test = pd.read_csv('/Users/krc/IEEE-CIS_Fraud_Detection/test.csv')

In [2]:
test.select_dtypes('object')

       ProductCD       card4   card6 P_emaildomain
0              W        visa   debit     gmail.com
1              W        visa   debit       aol.com
2              W        visa   debit   hotmail.com
3              W        visa   debit     gmail.com
4              W  mastercard   debit     gmail.com
...          ...         ...     ...           ...
506686         C  mastercard   debit     gmail.com
506687         C  mastercard   debit   hotmail.com
506688         W        visa   debit   hotmail.com
506689         W  mastercard   debit   hotmail.com
506690         C        visa  credit   hotmail.com

[506691 rows x 4 columns]

In [34]:
test[test['P_emaildomain'].isnull()]['P_emaildomain']

9         NaN
13        NaN
16        NaN
20        NaN
22        NaN
         ...
506613    NaN
506630    NaN
506647    NaN
506660    NaN
506663    NaN
Name: P_emaildomain, Length: 69192, dtype: object

In [38]:
test['P_emaildomain'].iloc[22]

32

In [30]:
num = []
for i in index:
    n = test['P_emaildomain'].iloc[i]
    if n not in num:
        num.append(n)

In [31]:
num

[32]

In [22]:
test['P_emaildomain'].iloc[9] #2 3 #32

32

In [40]:
from sklearn import preprocessing
for f in test.columns:
    if test[f].dtype == 'object':
        le = preprocessing.LabelEncoder()
        le.fit(list(test[f].values))
        test[f] = le.transform(list(test[f].values))
    else :
        pass

In [44]:
import numpy as np
test['card4'] = test['card4'].replace(2,np.nan)
test['card6'] = test['card4'].replace(3,np.nan)
test['P_emaildomain'] = test['P_emaildomain'].replace(32,np.nan)

In [45]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
imputed = imputer.fit_transform(test)
df_imputed = pd.DataFrame(imputed, columns = test.columns)
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 182 entries, Unnamed: 0 to V321
dtypes: float64(182)
memory usage: 703.6 MB

In [ ]:
df_imputed.to_csv('knn_test.csv')